.blog {
  width: 33.333%;
  margin-bottom: 30px;
  padding: 10px;
}

.blog_img {
  margin-bottom: 24px;
  width: 100%;
  height: 328px;
  border-radius: 12px;
  overflow: hidden;
}
.blog_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.author_date {
  display: flex;
  flex-direction: column;
}
.author {
  font-size: 16px;
  font-weight: 700;
  color: #1a1a1f;
}
.date {
  font-size: 12px;
  font-weight: 400;
  margin: 8px 0 16px;
}

.blog_title {
  min-height: 50px;
}

.blog_title h2 {
  font-size: 20px;
  color: #1a1a1f;
}

.description {
  margin-top: 16px;
}
.description p {
  font-size: 16px;
  color: #404049;
}

.blog_category {
  max-width: 684px;
  display: flex;
  flex-wrap: wrap;
}

.view_more {
  margin-top: 16px;
  text-decoration: none;
  display: flex;
  align-items: center;
}

.view_more span {
  color: #5d37f3;
  font-size: 14px;
  cursor: pointer;
}

.view_more img {
  width: 20px;
  height: 20px;
  margin-left: 4px;
  object-fit: contain;
  cursor: pointer;
}
