.category_box {
  max-width: 684px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
}
.category_list {
  white-space: nowrap;
  font-size: 12px;
  list-style: none;
  padding: 8px 16px;
  border-radius: 30px;
  text-align: center;
  margin: 0 24px 24px 0;
  cursor: pointer;
  border: 1px solid transparent;
}
