.form {
  width: 600px;
}

.form_page {
  background-color: #fcfcfd;
  padding: 33px 0 0 240px;
}

.popup_container {
  position: absolute;
}
.author_title,
.date_category {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}

.page_title {
  font-size: 32px;
  color: #1a1a1f;
}

.author_info,
.info {
  display: flex;
  flex-direction: column;
}

/* for image
*/
.image_box {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0;
}
.file {
  background-color: #e6ebff;
  width: 600px;
  height: 180px;
  border: 1px #85858d dashed;
  margin: 8px 0 24px;
  border-radius: 12px;
}

.title span,
.description span {
  font-size: 12px;
  color: #85858d;
  margin: 8px 0;
}
.info span {
  margin-top: 8px;
  font-size: 12px;
  color: #85858d;
}
.underline_text {
  font-size: 14px;
  color: #1a1a1f;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
label {
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1f;
}
input[type="text"],
input[type="date"] {
  border-radius: 12px;
  padding: 12px 0 12px 16px;
  width: 288px;
  border: 1px #e4e3eb solid;
  display: flex;
  margin: 8px 0 0;
}

input[type="text" i],
input[type="date" i]::placeholder {
  color: #85858d;
  font-size: 14px;
  outline: none;
}

.publish_button {
  display: flex;
  justify-content: flex-end;
}

.publish_button button {
  background-color: #5d37f3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  width: 288px;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  margin: 40px 0 110px;
}
.btn {
  background-color: #5d37f3;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  width: 432px;
  border-radius: 8px;
  border: none;
  margin: 52px 0 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}
