.form {
  width: 600px;
}

.form_page {
  background-color: #fcfcfd;
  padding: 33px 0 100px 200px;
  position: relative;
}
.textarea {
  width: 600px;
  height: 124px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  padding: 12px 16px 0;
  outline: none;
  margin-top: 8px;
  transition: 0.4s;
  background-color: #fcfcfd;
}
.popup_container {
  background-color: rgba(26, 26, 31, 0.5);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 100;
}
.popup_box {
  width: 480px;
  background-color: #ffffff;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin: 17% auto;
}
.author_title,
.date_category {
  display: flex;
  justify-content: space-between;
  margin: 24px 0;
}
.date {
  position: relative;
}

.page_title {
  font-size: 32px;
  color: #1a1a1f;
}

.author_error_info,
.info {
  display: flex;
  flex-direction: column;
}
.image_box {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0;
}

.title span,
.description span {
  font-size: 12px;
  color: #85858d;
  margin: 8px 0;
}
.info span {
  margin-top: 8px;
  font-size: 12px;
  color: #85858d;
}
.underline_text {
  font-size: 14px;
  color: #1a1a1f;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
label {
  font-size: 14px;
  font-weight: 600;
  color: #1a1a1f;
}
input[type="text"] {
  border-radius: 12px;
  padding: 12px 0 12px 16px;
  width: 288px;
  border: 1px #e4e3eb solid;
  margin: 8px 0 0;
  display: flex;
  background-color: #fcfcfd;
}

input[type="date"] {
  border-radius: 12px;
  width: 288px;
  border: 1px #e4e3eb solid;
  margin: 8px 0 0;
  padding: 12px 0 12px 48px;
  outline: none;
  background-color: #fcfcfd;
  transition: 0.4s;
}
input[type="text" i]:focus,
input[type="date"]:focus {
  border: 1.5px #5d37f3 solid;
}

input[type="text" i],
input[type="date" i]::placeholder {
  color: #85858d;
  font-size: 14px;
  outline: none;
}
input[type="text" i]:hover,
input[type="date" i]:hover {
  background-color: #f9f9fa;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-clear-button {
  opacity: 0;
  position: absolute;
  left: 20px;
  top: 50%;
  width: 20px;
  height: 20px;
  cursor: pointer;
}
.calendar {
  position: absolute;
  left: 20px;
  z-index: 0;
  bottom: 19%;
}
.publish_button {
  display: flex;
  justify-content: flex-end;
  margin-top: 40px;
}

.publish_button button {
  background-color: #5d37f3;
  color: #fff;
  border: none;
  padding: 10px 20px;
  max-width: 288px;
  width: 100%;
  border-radius: 8px;
  font-size: 14px;
  cursor: pointer;
  transition: 0.4s;
}
.publish_button button:hover {
  background-color: #512be7;
}
.btn {
  background-color: #5d37f3;
  color: #fff;
  font-size: 14px;
  padding: 10px 20px;
  width: 432px;
  border-radius: 8px;
  border: none;
  margin: 52px 0 40px;
  text-align: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
}

.error_border {
  border: 1px solid #ea1919 !important;
  background-color: rgba(234, 25, 25, 0.1) !important;
  color: #1a1a1f !important;
}

.success_border {
  border: 1px solid #14d81c !important;
  background-color: rgba(20, 216, 28, 0.1) !important;

  color: #1a1a1f !important;
}

.default_border {
  border: 1px #e4e3eb solid !important;
}

.email_info {
  display: flex;
  align-items: center;
  margin-top: 8px;
}
.email_info p {
  font-size: 12px;
  color: #ea1919;
  max-width: 280px;
}
.email_info img {
  margin-right: 8px;

  width: 20px;
  height: 20px;
  object-fit: contain;
}
.error_info {
  width: 260px;
}
.back {
  position: absolute;
  cursor: pointer;
  z-index: 1;
  top: 30px;
  left: 78px;
}

.back img {
  width: 44px;
  height: 44px;
  object-fit: contain;
}
