.textarea {
  width: 600px;
  height: 124px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  padding: 12px 16px 0;
  outline: none;
  margin-top: 8px;
  transition: 0.4s;
  background-color: #fcfcfd;
}
.textarea:hover {
  background-color: #f9f9fa;
}
