.inputGroup {
  display: flex;
  flex-direction: column;
  margin: 40px 0 0;
}
input[type="file" i] {
  display: none;
}
.file {
  background-color: #e6ebff;
  max-width: 600px;
  height: 180px;
  border: 1px #85858d dashed;
  margin: 8px 0 24px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.file:hover {
  background-color: #f1effb;
}

.img_file {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.img_file img {
  margin-bottom: 24px;
}
.file_info {
  font-size: 14px;
  color: #1a1a1f;
  font-weight: 400;
}

.underline_text {
  font-size: 14px;
  color: #1a1a1f;
  font-weight: 600;
  text-decoration: underline;
  cursor: pointer;
}
