@font-face {
  font-family: "FiraGo";
  src: url("../src/assets/fonts/FiraGo-regular/FiraGO-Regular.woff2")
      format("woff2"),
    url("../src/assets/fonts/FiraGo-regular/FiraGO-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "FiraGo";
}

.active_category {
  border: 1px solid black;
}
.common_container {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}
.swiper {
  width: 100%;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  object-fit: cover;
}

.blogInner_slider_box {
  width: 100%;
  margin-top: 0;
}

.slider_header {
  padding: 20px 5px 14px 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.slider_header span {
  font-size: 32px;
  color: #1a1a1f;
  font-weight: 700;
}

.prev-arrow,
.next-arrow {
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.prev-arrow {
  margin-right: 10px;
}

.slider_navigation {
  display: flex;
  justify-content: center;
  align-items: center;
}

.arrow {
  border-radius: 50%;
  padding: 10px;
}

#description {
  width: 600px;
  height: 124px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  padding: 12px 16px 0;
  outline: none;
  margin-top: 8px;
  transition: 0.4s;
  background-color: #fcfcfd;
}

.description_textarea {
  width: 600px;
  height: 124px;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  padding: 12px 16px 0;
  outline: none;
  margin-top: 8px;
  transition: 0.4s;
  background-color: #fcfcfd;
}

.upload_select {
  width: 288px;
  height: 44px;
  border-radius: 12px !important;
  padding-right: 35px;
  border: 1px #e4e3eb solid;
}
#demo-multiple-chip-label,
.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
  top: -7px !important;
  font-family: "FiraGo" !important;
}

.css-6hp17o-MuiList-root-MuiMenu-list {
  flex-wrap: wrap !important;
  display: flex;
  border-radius: 12px;
  border: 1px solid #e4e3eb;
  background-color: #fff;
  margin-top: 3px;
}
.select_list {
  border-radius: 12px !important;
  width: auto;
  max-width: max-content;
  margin: 0px 5px 5px 5px !important;
  font-family: "FiraGo" !important;
}

.css-3dzjca-MuiPaper-root-MuiPopover-paper-MuiMenu-paper {
  box-shadow: unset !important;
  background: transparent !important;
  margin-top: 3px;
}

.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
  opacity: 0 !important;
}

.css-14lo706 {
  display: none !important;
}

.css-1d3z3hw-MuiOutlinedInput-notchedOutline .legend {
  display: none !important;
}

.css-yi3mkw {
  flex-wrap: unset !important;
}

.css-bpeome-MuiSvgIcon-root-MuiSelect-icon,
.css-hfutr2-MuiSvgIcon-root-MuiSelect-icon {
  z-index: 100 !important;
}

.white_shade {
  background: #fff;
  width: 34px;
  position: absolute;
  top: 0px;
  right: 2px;
  height: calc(100% - 2px);
  border-radius: 0 12px 12px 0;
  z-index: 11;
}

.css-9ddj71-MuiInputBase-root-MuiOutlinedInput-root.Mui-focused
  .MuiOutlinedInput-notchedOutline {
  border-width: 1px !important;
  height: 44px !important;
  border: none !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline {
  border: none !important;
}

.css-11u53oe-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input {
  padding: 1.5px 14px !important;
}

.css-yjsfm1,
.css-1jy569b-MuiFormLabel-root-MuiInputLabel-root {
  display: none !important;
}

.css-yi3mkw {
  margin-bottom: 1px !important;
}

.css-185x04f-MuiButtonBase-root-MuiChip-root .MuiChip-deleteIcon {
  font-size: 19px !important;
  color: #fff !important;
}

.css-1nrlq1o-MuiFormControl-root {
  margin-top: 9px !important;
}

textarea {
  resize: none;
}
