.home_page {
  background-color: #f3f2fa;
  position: relative;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px 80px;
}

.banner img {
  width: 536px;
  height: 200px;
  object-fit: contain;
}
.title {
  font-size: 64px;
  font-weight: 700;
}
